[submodule ".vim/pack/themes/opt/gruvbox"]
	path = .vim/pack/themes/opt/gruvbox
	url = https://github.com/gruvbox-community/gruvbox.git
[submodule ".vim/pack/vendor/start/lightline"]
	path = .vim/pack/vendor/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".vim/pack/vendor/start/commentary"]
	path = .vim/pack/vendor/start/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/pack/vendor/start/ale"]
	path = .vim/pack/vendor/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule ".vim/pack/vendor/start/fern"]
	path = .vim/pack/vendor/start/fern
	url = https://github.com/lambdalisue/fern.vim
[submodule ".vim/pack/vendor/start/endwise"]
	path = .vim/pack/vendor/start/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule ".vim/pack/vendor/start/is"]
	path = .vim/pack/vendor/start/is
	url = https://github.com/haya14busa/is.vim.git
[submodule ".vim/pack/vendor/start/fzf"]
	path = .vim/pack/vendor/start/fzf
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/pack/vendor/start/fzf-mru"]
	path = .vim/pack/vendor/start/fzf-mru
	url = https://github.com/pbogut/fzf-mru.vim.git
[submodule ".vim/pack/vendor/opt/sensible"]
	path = .vim/pack/vendor/opt/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule ".vim/pack/vendor/start/signify"]
	path = .vim/pack/vendor/start/signify
	url = https://github.com/mhinz/vim-signify.git
[submodule ".vim/pack/vendor/start/gina"]
	path = .vim/pack/vendor/start/gina
	url = https://github.com/lambdalisue/gina.vim.git
[submodule ".vim/pack/vendor/start/yaml"]
	path = .vim/pack/vendor/start/yaml
	url = https://github.com/stephpy/vim-yaml.git
[submodule ".zsh/lib/colors"]
	path = .zsh/lib/colors
	url = https://github.com/zpm-zsh/colors.git
[submodule ".zsh/lib/autoenv"]
	path = .zsh/lib/autoenv
	url = https://github.com/zpm-zsh/autoenv.git
[submodule ".zsh/lib/pure"]
	path = .zsh/lib/pure
	url = https://github.com/sindresorhus/pure.git
[submodule ".zsh/lib/fast-syntax-highlighting"]
	path = .zsh/lib/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule ".vim/pack/vendor/start/ruby"]
	path = .vim/pack/vendor/start/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/pack/vendor/start/rails"]
	path = .vim/pack/vendor/start/rails
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/pack/vendor/start/git"]
	path = .vim/pack/vendor/start/git
	url = https://github.com/tpope/vim-git.git
