[submodule ".vim/pack/themes/opt/gruvbox"]
	path = .config/vim/pack/themes/opt/gruvbox
	url = https://github.com/gruvbox-community/gruvbox.git
[submodule ".vim/pack/vendor/start/lightline"]
	path = .config/vim/pack/vendor/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".vim/pack/vendor/start/commentary"]
	path = .config/vim/pack/vendor/start/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/pack/vendor/start/ale"]
	path = .config/vim/pack/vendor/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule ".vim/pack/vendor/start/endwise"]
	path = .config/vim/pack/vendor/start/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule ".vim/pack/vendor/start/is"]
	path = .config/vim/pack/vendor/start/is
	url = https://github.com/haya14busa/is.vim.git
[submodule ".vim/pack/vendor/start/fzf"]
	path = .config/vim/pack/vendor/start/fzf
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/pack/vendor/start/fzf-mru"]
	path = .config/vim/pack/vendor/start/fzf-mru
	url = https://github.com/pbogut/fzf-mru.vim.git
[submodule ".vim/pack/vendor/opt/sensible"]
	path = .config/vim/pack/vendor/opt/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule ".vim/pack/vendor/start/signify"]
	path = .config/vim/pack/vendor/start/signify
	url = https://github.com/mhinz/vim-signify.git
[submodule ".vim/pack/vendor/start/yaml"]
	path = .config/vim/pack/vendor/start/yaml
	url = https://github.com/stephpy/vim-yaml.git
[submodule ".vim/pack/vendor/start/ruby"]
	path = .config/vim/pack/vendor/start/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/pack/vendor/start/rails"]
	path = .config/vim/pack/vendor/start/rails
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/pack/vendor/start/git"]
	path = .config/vim/pack/vendor/start/git
	url = https://github.com/tpope/vim-git.git
[submodule ".vim/pack/themes/opt/gruvbox8"]
	path = .config/vim/pack/themes/opt/gruvbox8
	url = https://github.com/lifepillar/vim-gruvbox8.git
[submodule ".vim/pack/vendor/start/plantuml-syntax"]
	path = .config/vim/pack/vendor/start/plantuml-syntax
	url = https://github.com/aklt/plantuml-syntax.git
[submodule ".vim/pack/vendor/start/fugitive"]
	path = .config/vim/pack/vendor/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/vendor/start/rhubarb"]
	path = .config/vim/pack/vendor/start/rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule ".vim/pack/vendor/start/easy-align"]
	path = .config/vim/pack/vendor/start/easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule ".vim/pack/vendor/start/asciidoctor"]
	path = .config/vim/pack/vendor/start/asciidoctor
	url = https://github.com/habamax/vim-asciidoctor.git
[submodule ".vim/pack/vendor/start/fern"]
	path = .config/vim/pack/vendor/start/fern
	url = https://github.com/lambdalisue/fern.vim.git
	branch = main
[submodule ".vim/pack/vendor/start/rbs"]
	path = .config/vim/pack/vendor/start/rbs
	url = https://github.com/jlcrochet/vim-rbs.git
[submodule ".vim/pack/vendor/start/dbml"]
	path = .config/vim/pack/vendor/start/dbml
	url = https://github.com/jidn/vim-dbml.git
[submodule ".vim/pack/vendor/start/d2"]
	path = .config/vim/pack/vendor/start/d2
	url = https://github.com/terrastruct/d2-vim.git
[submodule ".vim/pack/vendor/start/go"]
	path = .config/vim/pack/vendor/start/go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/pack/vendor/start/editorconfig"]
	path = .config/vim/pack/vendor/start/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule ".config/zsh/antidote"]
	path = .config/zsh/.antidote
	shallow = true
	url = https://github.com/mattmc3/antidote.git
