! RXVT settings --------------------------------------------------------------

! Rxvt.shading: 0 to 99 darkens, 101 to 200 lightens
Rxvt.shading:               10
Rxvt.transparent:           true

Rxvt.font:                  xft:Terminus:size=14
Rxvt.scrollBar:             false

Rxvt.perl-ext-common:       default,matcher

Rxvt.matcher.button:        1
Rxvt.url-launcher:          firefox

Rxvt.keysym.Control-Up:     \033[1;5A
Rxvt.keysym.Control-Down:   \033[1;5B
Rxvt.keysym.Control-Left:   \033[1;5D
Rxvt.keysym.Control-Right:  \033[1;5C

! XTerm settings -------------------------------------------------------------

xterm*faceName:         Terminus
xterm*faceSize:         14

xterm.keysym.Control-Up:     \033[1;5A
xterm.keysym.Control-Down:   \033[1;5B
xterm.keysym.Control-Left:   \033[1;5D
xterm.keysym.Control-Right:  \033[1;5C


! Terminal colors ------------------------------------------------------------

! ### RXVT Colors and Graphics ###############################################
!
! color0          (black)               = Black
! color1          (red)                 = Red3
! color2          (green)               = Green3
! color3          (yellow)              = Yellow3
! color4          (blue)                = Blue3
! color5          (magenta)             = Magenta3
! color6          (cyan)                = Cyan3
! color7          (white)               = AntiqueWhite
! color8          (bright black)        = Grey25
! color9          (bright red)          = Red
! color10         (bright green)        = Green
! color11         (bright yellow)       = Yellow
! color12         (bright blue)         = Blue
! color13         (bright magenta)      = Magenta
! color14         (bright cyan)         = Cyan
! color15         (bright white)        = White
! foreground                            = Black
! background                            = White
!
! ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
!
! $ sudo apt-get install xcolors

! Black + DarkGrey
*color0:  #3b3b3b
*color8:  #787878
! DarkRed + Red
*color1:  #9c5039
*color9:  #cf6a4c
! DarkGreen + Green
*color2:  #6c7a4b
*color10: #99ad6a
! DarkYellow + Yellow
*color3:  #a6853a
*color11: #d8ad4c
! DarkBlue + Blue
!*color4:  #0000fc
*color4:  #425b91
*color12: #597bc5
! DarkMagenta + Magenta
*color5:  #72277d
*color13: #a037b0
!DarkCyan + Cyan
*color6:  #5992c4
*color14: #71b9f8
! LightGrey + White
*color7:  #adadad
*color15: #bcbcbc

*foreground: LightGrey
*background: Black
*cursorColor: White
