# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

format = """
$shell\
$username\
$hostname\
$directory\
$git_branch\
$git_commit\
$git_state\
$git_status\
$cmd_duration\
$pulumi\
$ruby\
$bun\
$nodejs\
$python\
$line_break\
$character"""

[shell]
fish_indicator    = 'fsh'
bash_indicator    = 'bsh'
zsh_indicator     = 'zsh'
unknown_indicator = '***'
style             = 'black'
disabled          = false

[directory]
style             = 'blue'
truncation_length = 5
truncate_to_repo  = true
truncation_symbol = '…/'
read_only_style   = 'bold red'
read_only         = ' 󰌾'

[git_branch]
format = "[$symbol$branch(:$remote_branch)]($style) "
style = "bright-black"

[git_commit]
commit_hash_length = 8
tag_disabled = false
style = "bold bright-black"

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\) '
style = "bright-black"

[git_status]
style = "cyan"

[cmd_duration]
format = "[$duration]($style) "
style = "yellow"

[pulumi]
format = " [$symbol($username@)$stack]($style)"
symbol = " "

[bun]
format = " [$symbol($version )]($style)"
symbol = " "
style  = "bold yellow"

[python]
format = ' [${symbol}${pyenv_prefix}(${version} )(\($virtualenv\) )]($style)'
symbol = " "

[ruby]
format = " [$symbol($version)]($style)"
symbol = " "

[nodejs]
format = " [$symbol($version)]($style)"
symbol = " "
