format = """
$username\
$hostname\
$directory\
$git_branch\
$git_commit\
$git_state\
$git_status\
$cmd_duration\
$pulumi\
$ruby\
$nodejs\
$python\
$line_break\
$character"""

[character]
success_symbol = "[>](bold purple)"
error_symbol = "[x](bold red)"
vimcmd_symbol = "[<](bold green)"

[directory]
style = "blue"
truncation_length = 7
truncate_to_repo = false
truncation_symbol = ".../"
read_only = ""

[git_branch]
format = "[$symbol$branch(:$remote_branch)]($style) "
style = "bright-black"

[git_commit]
commit_hash_length = 8
tag_disabled = false
style = "bold bright-black"

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\) '
style = "bright-black"

[git_status]
style = "cyan"

[cmd_duration]
format = "[$duration]($style) "
style = "yellow"

[pulumi]
format = " [$symbol($username@)$stack]($style)"
symbol = " "

[bun]
format = " [$symbol($version )]($style)"
symbol = " "

[python]
format = " [$symbol$pyenv_prefix($version)([|](black)$virtualenv)]"
symbol = " "

[ruby]
format = " [$symbol($version)]($style)"
symbol = " "

[nodejs]
format = " [$symbol($version)]($style)"
symbol = " "
